@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       url(../fonts/MaterialIcons-Regular.woff2) format('woff2'),
       url(../fonts/MaterialIcons-Regular.woff) format('woff'),
       url(../fonts/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

@font-face {
  font-family: 'Framework7 Icons';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Framework7Icons-Regular.eot");
  src: url("../fonts/Framework7Icons-Regular.woff2") format("woff2"),
       url("../fonts/Framework7Icons-Regular.woff") format("woff"),
       url("../fonts/Framework7Icons-Regular.ttf") format("truetype");
}

.f7-icons {
  font-family: 'Framework7 Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 25px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  font-feature-settings: "liga";
  text-align: center;
}

.demo-list-icon, .icon-f7 {
  background: #ccc;
  display: block;
  position: relative;
}
.theme-dark .demo-list-icon {
  background-color: #555;
}
.icon-f7 {
  background: url(../img/f7-icon.png) no-repeat center;
  background-size: cover;
}
.icon-vi {
  background: url(../img/vi-icon.png) no-repeat center;
  background-size: cover;
}

.ios .demo-list-icon, .ios .icon-f7, .ios .icon-vi {
  width: 29px;
  height: 29px;
  border-radius: 6px;
  box-sizing: border-box;
}
.md .demo-list-icon, .md .icon-f7, .md .icon-vi {
  width: 24px;
  height: 24px;
  border-radius: 4px;
}

/* Lazy Demo */
img.demo-lazy {
  display: block;
  width: 100%;
  height: auto;
}
div.demo-lazy {
  background: #aaa;
  -webkit-background-size: cover;
  background-size: cover;
  height: 300px;
  height: 60vw;
}

/* Tab Bar */
.ios .tabbar .tab-link:not(.tab-link-active) .icon-fill {
  display: none;
}
.ios .tabbar .tab-link.tab-link-active .icon:not(.icon-fill) {
  
}

/* FAB Morph */
.demo-fab-sheet {
  position: absolute;
  left: 16px;
  bottom: 80px;
  width: 140px;
  background: #fff;
  box-shadow: 0px 3px 30px #00000066;
  border-radius: 5px;
  z-index: 1600;
  margin: 0 !important;
}
.ios .demo-fab-sheet {
  bottom: 15px;
}
.md .demo-fab-sheet {
  bottom: 16px;
}
.demo-fab-fullscreen-sheet {
  position: absolute;
  left: 10px;
  right: 10px;
  top: 64px;
  bottom: 0;
  background: #fff;
  z-index: 1600;
  border-radius: 5px 5px 0 0;
  box-shadow: 0px 3px 30px #00000066;
  overflow: hidden;
}
@media (min-width: 768px) {
  .demo-fab-fullscreen-sheet {
    left: 20%;
    width: 60%;
    right: auto;
    height: 80%;
    top: auto;
  }
}
.demo-fab-fullscreen-sheet .page {
  background: #fff;
}

/* Demo Messagebar */
.ios a.demo-send-message-link i {
  font-size: 26px;
}
.ios .messagebar:not(.messagebar-with-value):not(.messagebar-attachments-visible) a.demo-send-message-link {
  pointer-events: none;
  color: #8e8e8e;
}
.md .messagebar:not(.messagebar-with-value):not(.messagebar-attachments-visible) a.demo-send-message-link {
  pointer-events: none;
  opacity: 0.5;
}
/* Grid demo */
.grid-demo div[class*="col"] {
  background: #fff;
  text-align: center;
  color: #000;
  border: 1px solid #ddd;
  padding: 5px;
  margin-bottom: 15px;
  font-size: 12px;
}
.theme-dark .grid-demo div[class*="col"] {
  background-color: #000;
  color: #fff;
  border-color: #444;
}
/* Cards Demo */
.demo-card-header-pic .card-header {
  height: 40vw;
  background-size: cover;
  background-position: center;
  color: #fff;
}
.demo-card-header-pic .card-content-padding .date{
  color: #8e8e93;
}
.demo-facebook-card .card-header {
  display: block;
  padding: 10px;
}
.demo-facebook-card .demo-facebook-avatar {
  float: left;
}
.demo-facebook-card .demo-facebook-name {
  margin-left: 44px;
  font-size: 14px;
  font-weight: 500;
}
.demo-facebook-card .demo-facebook-date {
  margin-left: 44px;
  font-size: 13px;
  color: #8e8e93;
}
.demo-facebook-card .card-footer {
  background: #fafafa;
}
.theme-dark .demo-facebook-card .card-footer {
  background-color: transparent;
}
.demo-facebook-card .card-footer a {
  color: #81848b;
  font-weight: 500;
}
.demo-facebook-card .card-content img {
  display: block;
}
.demo-facebook-card .card-content-padding {
  padding: 15px 10px;
}
.demo-facebook-card .card-content-padding .likes {
  color: #8e8e93;
}
/* Panels Demo */
.ios .panel-right.panel-active ~ .view-main:after,
.ios .panel-right.panel-closing ~ .view-main:after {
  content: '';
  height: 100%;
  width: 1px;
  position: absolute;
  right: 0;
  top: 0;
  background: #ddd;
  z-index: 1000;
}
.ios .theme-dark .panel-right.panel-active ~ .view-main:after,
.ios .theme-dark .panel-right.panel-closing ~ .view-main:after {
  background: #282828;
}

.ios .panel-left:after {
  content: '';
  height: 100%;
  width: 1px;
  position: absolute;
  right: 0;
  top: 0;
  background: #ddd;
  z-index: 1000;
}
.ios .theme-dark .panel-left:after {
  background: #282828;
}

/* Swipers Demo */
.demo-swiper {
  width: 100%;
  height: 100%;
}
.demo-swiper .swiper-slide,
.demo-swiper-multiple .swiper-slide {
  font-size: 25px;
  font-weight: 300;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  background: #fff;
  color: #000;
}
.demo-swiper-multiple .swiper-slide {
  box-sizing: border-box;
  border: 1px solid #ccc;
  background: #fff;
}
.demo-swiper-multiple {
  margin: 0px 0 35px;
  font-size: 18px;
  height: 120px;
}
.demo-swiper-multiple.demo-swiper-multiple-auto .swiper-slide {
  width: 85%;
}
.demo-swiper-multiple.demo-swiper-multiple-auto .swiper-slide:nth-child(2n) {
  width: 70%;
}
.demo-swiper-multiple.demo-swiper-multiple-auto .swiper-slide:nth-child(3n) {
  width: 30%;
}
.demo-swiper-custom {
  height: 100%;
}
.demo-swiper-custom .swiper-container {
  background: #000;
  height: 100%;
}
.demo-swiper-custom .swiper-slide {
  background-size: cover;
  background-position: center;
}
.demo-swiper-custom .swiper-pagination .swiper-pagination-bullet {
  cursor: pointer;
  width: 10px;
  height: 10px;
  background: rgba(255, 255, 255, 0);
  opacity: 1;
  border-radius: 0;
  transition: 200ms;
  position: relative;
  transform: scale(0.9);
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.8);
}
.demo-swiper-custom .swiper-pagination .swiper-pagination-bullet-active {
  z-index: 1;
  border: 1px solid #007aff;
  transform: scale(1.4);
}
.demo-swiper-cube {
  width: 80%;
  height: 70%;
  top: 15%;
}
.demo-swiper-coverflow {
  height: 60%;
  top: 20%;
}
.demo-swiper-coverflow .swiper-slide {
  width: 65%;
}
.demo-swiper-cube .swiper-slide,
.demo-swiper-coverflow .swiper-slide {
  background-size: cover;
  color: #fff;
  -webkit-backface-visibility: hidden;
}
.demo-swiper-fade .swiper-slide {
  background-size: cover;
  background-position: center;
}
.demo-swiper-gallery-top {
  height: 70%;
}
.demo-swiper-gallery-thumbs {
  margin-top: 10px;
  height: 20%;
  height: -webkit-calc(30% - 20px);
  height: -moz-calc(30% - 20px);
  height: -ms-calc(30% - 20px);
  height: calc(30% - 20px);
}
.demo-swiper-gallery-thumbs .swiper-slide-pic {
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.35;
  transition: 300ms;
}
.demo-swiper-gallery-thumbs .swiper-slide-thumb-active .swiper-slide-pic  {
  opacity: 1;
}
.demo-swiper-gallery-top .swiper-slide,
.demo-swiper-gallery-thumbs .swiper-slide-pic {
  background-size: cover;
  background-position: center;
}
.demo-swiper-parallax {
  height: 100%;
}
.demo-swiper-parallax .swiper-parallax-bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 130%;
  height: 100%;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
}
.demo-swiper-parallax .swiper-slide {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 40px 60px;
  color: #fff;
}
.demo-swiper-parallax .swiper-slide-title {
  font-size: 41px;
  font-weight: 300;
}
.demo-swiper-parallax .swiper-slide-subtitle {
  font-size: 21px;
}
.demo-swiper-parallax .swiper-slide-text {
  font-size: 14px;
  max-width: 400px;
  line-height: 1.3;
}
.demo-swiper-lazy {
  height: 100%;
}
.demo-swiper-lazy .swiper-slide {
  position: relative;
}
.demo-swiper-lazy .swiper-slide img {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

/* Icons Demo */
code {
  background: #f3f3f3;
  padding: 5px;
  font-size: 12px;
}
.theme-dark code {
  background: #000;
}
.demo-icon {
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
  color: #333;
}
.theme-dark .demo-icon {
  color: #fff;
}
.demo-icon .demo-icon-name {
  margin-top: 5px;
  font-size: 11px;
  color: #666;
  text-overflow: ellipsis;
  overflow: hidden;
}
.theme-dark .demo-icon .demo-icon-name {
  color: #aaa;
}

.elevation-demo {
  height: 100px;
  margin: 30px 10px;
  background: #fff;
  font-size: 18px;
  text-align: center;
  line-height: 100px;
}








/*** custom**/
 
 pdf, div, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, a, abbr, acronym, del, font, img, ins, q, strike, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption, tbody, tfoot, thead, tr, th, td, table {
  margin: 0;
  padding: 0;
  font: inherit;
    font-size: inherit;
    font-family: inherit;
  font-size: inherit;
  font-family: inherit;
  font-size: 100%;
  -webkit-text-size-adjust: 120%;
  font: inherit;
  font-size: inherit;
}


 
 *{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;

}

#text_con,#text_con *,#hash_con,#hash_con *,input,input *,.temp-div,.temp-div *{
	 -webkit-touch-callout: initial!important;
    -webkit-user-select: text!important;
    -khtml-user-select: text!important;
    -moz-user-select: text!important;
    -ms-user-select: text!important;
    -o-user-select: text!important;
    user-select: text!important;
    -webkit-user-drag: auto!important;
}

 
 
 html, body {
  overflow: hidden !important;
  font-size: 20px;
}
 
 

html * {
  max-height: 1000000px;
}

.star_yellow {
    color:yellow!important;
}

.img_wrapper {
   /* display: none;*/
    background-image: url(../../../clientscript/images/generic/loading.gif) ! important;
    min-height: 20px !important;
    background-repeat: no-repeat !important;
    background-size: 20px 20px;

}

#fav_view{
	overflow: auto;
	padding: 10px!important;
}
 
 
a {
color: #0F5091;
text-decoration: none;
font-weight: bold;
}

#searchResList a {
    color: #0F5091!important;
}
 
.snpt_adobe a {
    color: #0F5091;
}
 

.ios #searchResList .wSearchURLSmallScr {
    color: #9b9ba9;
}
.ios #searchResList .wSearchContextSmallScr{
    color: #8d8d93;	
}
.md #searchResList .wSearchURLSmallScr {
    color: #989686;
}

.md #searchResList .wSearchContextSmallScr{
    color: #8a897d;
}
 
#searchResList .snpit{

}
 
 .grabbable {
  cursor: move;
  cursor: -webkit-grab;
  cursor: -moz-grab;
  cursor: -o-grab;
  cursor: -ms-grab;
  cursor: grab;
}
 
 .grabbable a {
	cursor: move;
  cursor: -webkit-grab;
  cursor: -moz-grab;
  cursor: -o-grab;
  cursor: -ms-grab;
	cursor: grab!important; 
 }

.snpit {
  background: #ebebe0;
  border-radius: .3em;
  border-style: solid;
  border-color: #e9d0d0;
  padding: 3px;
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
  padding: 10px;
}


.md .snpit {
  background: #f3e5be;
 
}


.ios  .snpt_adobe {
  background: white;
  overflow: hidden;
  position: fixed;
  bottom: 50px;
  top: 40px;
  left: 0;
  right: 0;
  z-index: 150;
  font-weight: bold;
}

.md  .snpt_adobe {
  background: white;
  overflow: hidden;
  position: fixed;
  bottom: 55px;
  top: 55px;
  left: 0;
  right: 0;
  z-index: 150;
  font-weight: bold;
}

.snpt_adobe.is-hidden{
	display:none;
}

#snptview {
  background: #ebebe0;
  position: absolute;
  overflow: auto;
  left: 0;
  right: 0;
  top: 0px;
  bottom: 0px;
  padding-left: 10px;
  padding-right: 10px;
  -webkit-overflow-scrolling: touch;
}


.md #snptview::-webkit-scrollbar-track {
  background: #f3e5be;
}


.md #snptview {
	 background: #f3e5be;
}


.mark {
  background-color: #cfd0d3;
}





.tabs .tab {
    display: block!important;
}



 .rotate-icon {
    transform: rotate(90deg);
  }
 




 
.md  .page>.tabs-animated-wrap {
    position: absolute;
    top: 57px;
    left: 0;
    right: 0;
    bottom: 57px;
    z-index: 0;
	height: auto;
background-color: #e7e1c5;
}


.ios .page>.tabs-animated-wrap {
    position: absolute;
    top: 45px;
    left: 0;
    right: 0;
    bottom: 50px;
    z-index: 0;
	height: auto;


}
/*
 .tabs {
  position: absolute;
  top: 45px;
  left: 0;
   bottom: 50px;
  height: auto!important;
  width: 100%;
  transform: translate3d(0%, 0px, 0px);
  transition: transform 0.25s ease-in-out;
}*/

@media (min-width: 768px)
{
.md .navbar {
    height: 56px!important;
}
.ios .tabbar-labels {
    height: 50px!important;
}
.md .navbar+.toolbar:not(.toolbar-bottom-md):not(.messagebar) {
    top: 56px!important;
}

}



.md .navbar~* .page-content, .md .navbar~.page-content {
    padding-top: 0!important;
}
.md .toolbar-bottom-md~* .page-content{
    padding-bottom: 0px!important;
}


.navbar~.page-content, .ios .navbar~:not(.no-navbar) .page-content {
    padding-top: 0!important;
}

.ios .navbar~.page-content, .ios .navbar~:not(.no-navbar) .page-content {
    padding-top: 0!important;
}

.ios .toolbar~* .page-content, .ios .toolbar~.page-content {
    padding-bottom: 0!important;
}

.page-content iframe {
    width: 100%;
    height: 100%;
    bottom: 0px;
    right: 0px;
	left: 0px;
	top:0px;
    position: absolute;
    border: none;
}
  
.page-content {
 
/*position: relative!important; */
overflow:hidden
} 

.sheet-content {
	overflow: auto!important;
    font-weight: bold;
    font-size: 18px;
   /* padding: 15px;*/
}

.md .sheet-content {
	background-color: antiquewhite;
}

.sheet-content > div {
	padding:10px;
}

.view, .views {

    z-index: 0!important;
}

.tab-active{
	visibility: visible!important;
}


.popover-menu {
top: 40px!important;	
overflow: hidden;
}






.right a img {
  Height: 30px;
}

.noon{
	border: none!important;
}


.custom_list .list-button:after {

    background-color: #f9f9f8!important;

}

.md .list .list-button {
font-size: 13px!important;	
}



.md .tabbar-label {
 
 font-size: 11px!important;


}

.md .button {
   

    min-width: 45px!important;
  
}


.search_butt i{
	color:#c29e4e;
}


.md .searchbar-expandable {
	z-index: -1;
}

.md .searchbar-expandable.searchbar-enabled{
	z-index: 1;
}






*::-webkit-scrollbar {
  width: 12px; /* Width of the scrollbar */
}

*::-webkit-scrollbar-track {
  /*background: #fff; */
}

*::-webkit-scrollbar-thumb {
  background: #2196f3; /* Thumb color */
  border-radius: 6px; /* Rounder corners on the thumb */
      height: 50px;
}




@-moz-document url-prefix() {
* {
  scrollbar-width: thin;
  scrollbar-color: #2196f3 #fff;
}
}

.md * {
    scrollbar-width: thin;
    scrollbar-color: #c29e4e #e7e1c5;
 
}

.m_con {
    scrollbar-width: thin;
    scrollbar-color: #333 #333;
 
}

.md #snptview{
	scrollbar-color: #c29e4e #f3e5be;
}

/***search****/


.contentholder {
	/*background: antiquewhite;*/
	overflow: auto;
	width: 100%;
	-webkit-box-sizing: border-box;
	/* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;
	/* Firefox, other Gecko */
	box-sizing: border-box;
	position: relative;
	    font-weight: bold;

    -webkit-overflow-scrolling: touch;
padding-top:10px;
font-size: 19px;
}




#wrap {
  padding-left: 5px;
  padding-right: 5px;
}


.md .btn {
  background-color: #c2b471;
  border: none;
  color: black !important;
  text-shadow: 0 1px 0 black;
  padding: 6px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  white-space: nowrap;
}



.ios .btn {
  background-color: #b2b2ce;
  border: none;
  color: black !important;
  text-shadow: 0 1px 0 black;
  padding: 6px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  white-space: nowrap;
}

.md .curr {
  background-color: #d1c797;
}

.ios .curr {
  background-color: #cacada;
}


.curr img {
  width: 20px;
}
img {
  border: 0;
  outline: none;
}








.page_num table {
	table-layout: fixed;
}

.page_num {
	position: absolute;
	right: 0;
	left:0;
	bottom: 0px;
	display: block;
	overflow:hidden;
}

.slidepage_title {
	font-weight: bold;
	font-size: 13px;
	text-align: center;
	padding: 3px;
	/* background-color:#808080;*/
	background-color: #3f4344;
	color: white;
}

.container {
	
	padding: 0px;
	margin: 0px;
	-moz-user-select: none;
	-ms-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-webkit-touch-callout: none;
	background-color: #333;
	overflow: hidden;
	zoom: 1;
	*display: inline;
	white-space: nowrap;
	height: 55px;

	
}

#bookit
{
    width: 50px;	
}


.ios .favbar-icon {
    width: 13px;
    height: 13px;
    position: absolute;
    top: 50%;
    margin-top: -6px;
   background-image: url(data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22iso-8859-1%22%3F%3E%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20%20width%3D%2214px%22%20height%3D%2214px%22%20viewBox%3D%220%200%2014%2014%22%20style%3D%22enable-background%3Anew%200%200%2014%2014%3B%22%20xml%3Aspace%3D%22preserve%22%3E%3Cpolygon%20style%3D%22fill%3A%23FFFFFF%3B%22%20points%3D%2214%2C5%209%2C5%207%2C0%205%2C5%200%2C5%204%2C8%202.625%2C13%207%2C10%2011.375%2C13%2010%2C8%20%22%2F%3E%3C%2Fsvg%3E) !important;
background: grey;
  background-image: none;
opacity: 1 !important;
    background-size: 13px 13px;
    z-index: 40;
}

.favbar-icon {
    pointer-events: none;
    background-position: center;
    background-repeat: no-repeat;
}





.md .searchbar .input-clear-button {
position: absolute;
    width: 48px;
    height: 48px;

	
}



#fav_bar  a.link {
   
    padding: 0px!important;
    min-width: 30px!important;
  
}

#fav_bar a.link:before {
    content: ''!important;
    width: 0!important;
    height: 0!important;
    position: absolute!important;
 
}



#fav_nav .list {
    margin: 0px 0!important;
}

#fav_nav .list input {
    color:white!important;
}

.ios #fav_nav .list input {
    color:black!important;
}


td.right {
	/*background-color: #7192a8;*/
	vertical-align: top;
	cursor: pointer;
	color:white;
	font-weight: bolder;
}

td.left {
	/*background-color: #7192a8;*/
	vertical-align: top;
	cursor: pointer;
	font-weight: bolder;
}

#searchnext div {
	margin-top: 10px;
	text-align: center;
	color:white;
}

#searchprev div {
	margin-top: 10px;
	text-align: center;
}



.m_con {
	/*background-color: #333;*/
overflow-x: auto;
	overflow-y: hidden;
	white-space: nowrap;
	width: 100%;
	    -webkit-overflow-scrolling: touch;


text-align: center;



}







.m_con a {
	display: inline-block;
	color: white;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	text-decoration: none;
text-align: center;

}

.number{
	
	display:none;
}


#pageList li:hover {
	/*background-color: #777;*/
}

.wSearchPageNumberSelected {

	background: #808080 !important;
}

#page_num table {
	border-collapse: collapse;
}


.ui-page-active {

    overflow: hidden!important;
    overflow-x: hidden!important;
}



.sheet-content input {
  -ms-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -webkit-transform: scale(1.5);
  -o-transform: scale(1.5);
  transform: scale(1.5);
  padding: 10px;
}


.sheet-content #searchResCount{
	background: white;
	width:200px;
	padding:5px;
	margin:10px 0;
	height: 35px;
}


.sheet-modal {
    height: 360px;
	
}



#copy_code,#save_hash{
	width:auto;
}

.minimized .window {
	    height:35px !important;
}


.contentholder  hr{
	
color: #ebebe0;


}


/*


.section {
  position: absolute;
  height: 100%;
  width: 25%;
  background-color: rgba(200, 200, 200, 0.3);

}


.section-1 {
  left: 0%;
}

.active-1 {
  transform: translate3d(-0%, 0px, 0px);
}

.section-2 {
  left: 25%;
}

.active-2 {
  transform: translate3d(-25%, 0px, 0px);
}

.section-3 {
  left: 50%;
}

.active-3 {
  transform: translate3d(-50%, 0px, 0px);
}

.section-4 {
  left: 75%;
}

.active-4 {
  transform: translate3d(-75%, 0px, 0px);
}

.section-5 {
  left: 100%;
}

.active-5 {
  transform: translate3d(-100%, 0px, 0px);
}

.section-form {
  display: none;
}
.section-form.active {
  display: block;
}

.swiper-container {
  height: 300px;
  margin-left: auto;
  margin-right: auto;
}

.swiper-slide {
  background-size: cover;
  background-position: center;
}

.swiper-top {
  height: 167px;
  width: 147PX;
  margin-top: 65px;
}

.swiper-bottom {
  height: auto;
  box-sizing: border-box;
  padding: 0 0 25px;
}
.swiper-bottom .swiper-slide {
  padding: 0 20px;
  box-sizing: border-box;
  text-align: center;
}
*/




.md *::-webkit-scrollbar-thumb {
    background: #c29e4e;
 
}


.m_con::-webkit-scrollbar-thumb {
    background: #333333;
    border-radius: 6px;
}


.sheet-content  input {
    -ms-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    -o-transform: scale(1.5);
    transform: scale(1.5);
    padding: 10px;
}
.wSearchResultItem  {
    position: relative;
}

.wSearchResultItem hr {
    position: absolute;
    bottom: 0px;
    right: 0;
    left: 0;
    margin: 0;
	width:100%;
}




#fav_gif,#search_gif{
	 position:absolute;
   top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  max-width:200px;
  max-height:200px;
}



svg{
  position:absolute;
   top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  max-width:200px;
  max-height:200px;
}
.magnify{
  fill:#8282b2;
  animation:search 1s infinite ease;
}
.doc{
  fill:black;
  animation:flyby 1s infinite ease;
}


@keyframes search {
  0%{
    transform:translate(40px, 40px) scale(.6);
  }
  50%{
    transform:translate(20px, 20px) scale(.6);
  }
  100%{
    transform:translate(40px, 40px) scale(.6);
  }
}

@keyframes flyby {
  0%{
    transform:translate(-20px, 20px) scale(.2);
    opacity:0
  }
  50%{
    transform:translate(30px, 20px) scale(.5);
    opacity:1
  }
  100%{
    transform:translate(100px, 20px) scale(.2);
    opacity:0
  }
}




.md .navbar {

    background: #c29e4e;
   
}

.md .toolbar {
    background: #c29e4e;
	
}


.md #search_view ,.md #fav_view{
	background: #E7E1C5;
}

.md .mark {
    background-color: #d1c797;
}


 #contentholder , .snpt_adobe {
    font-size:105%!important;
	line-height: 25px!important;
}

[contenteditable="true"]:focus {
    /* Add your focus styles here */
    outline: none; /* Optional: Remove focus outline */
}