@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?98748017');
  src: url('../font/fontello.eot?98748017#iefix') format('embedded-opentype'),
       url('../font/fontello.woff2?98748017') format('woff2'),
       url('../font/fontello.woff?98748017') format('woff'),
       url('../font/fontello.ttf?98748017') format('truetype'),
       url('../font/fontello.svg?98748017#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?98748017#fontello') format('svg');
  }
}
*/
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: never;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-post:before { content: '\e800'; } /* '' */
.icon-calendar:before { content: '\e801'; } /* '' */
.icon-home-outline:before { content: '\e802'; } /* '' */
.icon-vaxb401:before { content: '\e803'; } /* '' */
.icon-left-open:before { content: '\e804'; } /* '' */
.icon-right-open:before { content: '\e805'; } /* '' */
.icon-up-open:before { content: '\e806'; } /* '' */
.icon-down-open:before { content: '\e807'; } /* '' */
.icon-pages-icon:before { content: '\e808'; } /* '' */
.icon-arrow-end-right-icon:before { content: '\e809'; } /* '' */
.icon-arrow-end-left-icon:before { content: '\e80a'; } /* '' */
.icon-right-open-big:before { content: '\e80b'; } /* '' */
.icon-down-open-big:before { content: '\e80c'; } /* '' */
.icon-up-open-big:before { content: '\e80d'; } /* '' */
.icon-left-open-big:before { content: '\e80e'; } /* '' */
.icon-down-big:before { content: '\e80f'; } /* '' */
.icon-left-big:before { content: '\e810'; } /* '' */
.icon-right-big:before { content: '\e811'; } /* '' */
.icon-up-big:before { content: '\e812'; } /* '' */
.icon-file-line-icon:before { content: '\e813'; } /* '' */
.icon-page-file-icon:before { content: '\e814'; } /* '' */
.icon-ok:before { content: '\e815'; } /* '' */
.icon-tools:before { content: '\e816'; } /* '' */
.icon-move:before { content: '\e817'; } /* '' */
.icon-ellipsis-v-icon:before { content: '\e818'; } /* '' */
.icon-cancel:before { content: '\e819'; } /* '' */
.icon-minus:before { content: '\e81a'; } /* '' */
.icon-undo:before { content: '\e81b'; } /* '' */
.icon-read:before { content: '\e81c'; } /* '' */
.icon-play:before { content: '\e81d'; } /* '' */
.icon-pause:before { content: '\e81e'; } /* '' */
.icon-search:before { content: '\e81f'; } /* '' */
.icon-search-1:before { content: '\e820'; } /* '' */
.icon-search-2:before { content: '\e821'; } /* '' */
.icon-bookmark:before { content: '\e822'; } /* '' */
.icon-bookmarks:before { content: '\e823'; } /* '' */
.icon-bookmark-1:before { content: '\e824'; } /* '' */
.icon-bookmark-2:before { content: '\e825'; } /* '' */
.icon-bookmark-empty-1:before { content: '\e826'; } /* '' */
.icon-bookmark-3:before { content: '\e827'; } /* '' */
.icon-search-outline:before { content: '\e828'; } /* '' */
.icon-flashlight:before { content: '\e829'; } /* '' */
.icon-search-3:before { content: '\e82a'; } /* '' */
.icon-search-5:before { content: '\e82b'; } /* '' */
.icon-search-6:before { content: '\e82c'; } /* '' */
.icon-search-circled:before { content: '\e82d'; } /* '' */
.icon-reply-outline:before { content: '\e82e'; } /* '' */
.icon-forward-outline:before { content: '\e82f'; } /* '' */
.icon-search-7:before { content: '\e830'; } /* '' */
.icon-search-8:before { content: '\e831'; } /* '' */
.icon-eye:before { content: '\e832'; } /* '' */
.icon-eye-off:before { content: '\e833'; } /* '' */
.icon-eye-off-1:before { content: '\e834'; } /* '' */
.icon-eye-1:before { content: '\e835'; } /* '' */
.icon-login-1:before { content: '\e836'; } /* '' */
.icon-pin:before { content: '\e837'; } /* '' */
.icon-up-hand:before { content: '\e838'; } /* '' */
.icon-right-hand:before { content: '\e839'; } /* '' */
.icon-left-hand:before { content: '\e83a'; } /* '' */
.icon-comment-1:before { content: '\e83b'; } /* '' */
.icon-user-1:before { content: '\e83c'; } /* '' */
.icon-down-hand:before { content: '\e83d'; } /* '' */
.icon-to-end:before { content: '\e83e'; } /* '' */
.icon-to-start-alt:before { content: '\e83f'; } /* '' */
.icon-to-start:before { content: '\e840'; } /* '' */
.icon-stop:before { content: '\e841'; } /* '' */
.icon-to-end-alt:before { content: '\e842'; } /* '' */
.icon-fast-fw:before { content: '\e843'; } /* '' */
.icon-fast-bw:before { content: '\e844'; } /* '' */
.icon-eject:before { content: '\e845'; } /* '' */
.icon-target:before { content: '\e846'; } /* '' */
.icon-cog:before { content: '\e847'; } /* '' */
.icon-wrench:before { content: '\e848'; } /* '' */
.icon-wrench-circled:before { content: '\e849'; } /* '' */
.icon-cog-1:before { content: '\e84a'; } /* '' */
.icon-cog-alt:before { content: '\e84b'; } /* '' */
.icon-cog-outline:before { content: '\e84c'; } /* '' */
.icon-login:before { content: '\f02c'; } /* '' */
.icon-bookmark-empty:before { content: '\f097'; } /* '' */
.icon-docs:before { content: '\f0c5'; } /* '' */
.icon-menu:before { content: '\f0c9'; } /* '' */
.icon-angle-double-left:before { content: '\f100'; } /* '' */
.icon-angle-double-right:before { content: '\f101'; } /* '' */
.icon-angle-double-up:before { content: '\f102'; } /* '' */
.icon-angle-double-down:before { content: '\f103'; } /* '' */
.icon-quote-right:before { content: '\f10e'; } /* '' */
.icon-angle-circled-left:before { content: '\f137'; } /* '' */
.icon-angle-circled-right:before { content: '\f138'; } /* '' */
.icon-angle-circled-up:before { content: '\f139'; } /* '' */
.icon-angle-circled-down:before { content: '\f13a'; } /* '' */
.icon-sort-alt-up:before { content: '\f160'; } /* '' */
.icon-sort-alt-down:before { content: '\f161'; } /* '' */
.icon-hand-grab-o:before { content: '\f255'; } /* '' */
.icon-hand-paper-o:before { content: '\f256'; } /* '' */
.icon-window-maximize:before { content: '\f2d0'; } /* '' */
.icon-search-4:before { content: '\f50d'; } /* '' */
